<%- include('includes/head'); %>
  <%- include('includes/nav'); %>

    <section class="session-main">
      <h1>Você entrou na conta: </h1><span><%= user.email %></span>
      <hr>
      <%- include('includes/messages'); %>


        <div class="formulario">
          <ul>
            <li>Contato 1</li>
            <hr>
            <li>Contato 2</li>
            <hr>
            <li>Contato 3</li>
            <hr>
            <li>Contato 3</li>
            <hr>
        </div>
    </section>

    <%- include('includes/footer'); %>