<%- include('includes/head'); %>
  <%- include('includes/nav'); %>
    <div class="troca">
      <p id="toggle-form">
        <%= trocaFormulario %>
      </p>
      <p id="trocar">↺</p>
    </div>

    <section class="session-main">
      <h1>Fomulário de <span id="form-title">
          <%= tipoFormulario %>
        </span></h1>
      <p>Entre ou cadastre sua conta!</p>

      <%- include('includes/messages'); %>

        <div class="formulario">
          <form action="formlogin/profile" method="post" id="toggle-action">
            <label>Seu email:</label>
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <input type="email" name="email" class="form-inputs" placeholder="seuEmail@email.com">
            <label>Sua senha:</label>
            <input type="password" name="senha" class="form-inputs">
            <div><button type="submit" id="form-button">
                <%= tipoBotao %>
              </button></div>
          </form>
        </div>
    </section>

    <%- include('includes/footer'); %>